@font-face {
	font-family: 'BebasNeue';
	src: url('BebasNeue.otf') format('truetype');
	font-weight: bold;
	font-size: 1.2em;
}

html, body
{
	height: 100%
}

html
{
	background-image: url('../img/background.png');
	background-size: 82%;
	background-repeat: no-repeat;
}

body
{
	font-family: "Helvetica Neue", Helvetica ,Arial ,sans-serif;
	background: transparent;
}

#wrap {
	min-height: 100%;
}

#main
{
    overflow: auto;
	padding-bottom: 185px;
}

#corpus
{
	padding-left: 15px;
	background: #fff;
}

#footer {
    position: relative;
	margin-top: -185px;
    height: 186px;
    clear: both;
	background: transparent;
	color: #999999;
	font-weight: bold;
}


.center
{
	text-align: center;
}



/*-----*-----------------*-----**-----*-----------------*-----*					Timeslots					*-----*-----------------*-----**-----*-----------------*-----*/

#TimeslotIndexForm .form-group:first-child
{
	padding-right: 3em;
}

.registration
{
	padding-left: 0.5em;
	border: #9E9E9E solid 1px; 
	border-radius: 10px;
	margin-bottom: 2em;
}

.registrationContent
{
	padding-left: 2em;
}

/*-----*-----------------*-----**-----*-----------------*-----*					Search					*-----*-----------------*-----**-----*-----------------*-----*/

#advancedSearch
{
	display: none;
}

#advancedSearch:target
{
	display: block;
}

#advancedSearch:target + a
{
	display: none;
}


#searchFields
{
	border-bottom: 1px solid #ADADAD;
	margin-bottom: 2em;
}

.small-input
{
	width: 5em;
}


/*-----*-----------------*-----**-----*-----------------*-----*					Navbar					*-----*-----------------*-----**-----*-----------------*-----*/

.navbar
{
	margin-top: 50px;
}

.navbar-collapse, .container-fluid
{
	padding-right: 0;
	padding-left: 0;
}

.navbar-nav
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 100%;
}

@media (min-width: 768px)
{
	.navbar-nav
	{
		flex-direction: row;
	}
}

.navbar-nav>li
{
	margin: 0 2px;
}

.navbar-nav>li:first-child
{
	margin: 0 2px 0 0;
	flex-grow: 1;
}

.navbar-nav>li.secured
{
	flex-grow: 2;
}

.navbar-nav>li:last-child
{
	margin-right: 0;
	flex-grow: 1;
}

.navbar-nav.teachers>li:first-child, .navbar-nav.labs>li:first-child
{
	margin: 0 2px 0 0;
}

.nav>li>a, .nav>li>a:focus, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus
{
	background-color: #ff2956;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 3px solid rgba(0,0,0,0);
}

.navbar-inverse
{
	border: none
}

.nav>li>a:hover, .nav .open>a:hover
{
	background-color: #ff5f81;
	border-bottom: 3px solid #000;
}

.nav .open>a, .nav .open>a:focus
{
	border-bottom: 3px solid #000;
}

.nav .open>a{
	background-image: url('../img/tip.png');
	background-position: center bottom;
	background-repeat: no-repeat;
}

.nav>li.secured>a, .nav>li.secured>a:hover, .nav>li.secured>a:focus 
{
	padding-right: 40px;
	background-image: url('../img/padlock.png');
	background-position: 98% center;
	background-repeat: no-repeat;
}

.nav>li.logout>a, .nav>li.logout>a:hover, .nav>li.logout>a:focus 
{
	background-image: url('../img/logout.png');
	background-position: 98% center;
	background-repeat: no-repeat;
}

.dropdown-menu
{
	border-radius: 0;
	background-color: #e0dfdf;
}

.dropdown-menu>li
{
	border-bottom: 1px solid #ff2956;
}

.dropdown-menu>li:last-child
{
	border: none;
}

.dropdown-menu>li>a
{
	font-weight: bold;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus
{
	background: transparent;
	color: #ff2956;
}


.navbar-collapse
{
	padding-left: 0;
}

/*-----*-----------------*-----**-----*-----------------*-----*					Menu XS					*-----*-----------------*-----**-----*-----------------*-----*/
#xsmenu
{
	background: transparent;
}

#xsmenu .navbar-header
{
	background-color: #ff2956;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 3px solid rgba(0,0,0,0);
}

#xsmenu .navbar-nav>li>a, #xsmenu .navbar-nav>li>a:focus, #xsmenu .navbar-nav>li>a:hover
{
	color: white;
	padding-left: 1em;
	background: #ff2956;
}

#xsmenu .navbar-nav>li>a:focus, #xsmenu .navbar-nav>li>a:hover
{
	opacity: 0.7;
}

#xsmenu .dropdown-menu
{
	background: #e0dfdf;
}

#xsmenu .navbar-nav .open .dropdown-menu>li>a
{
	color: black;
}

#xsmenu .navbar-nav>li, #xsmenu .navbar-nav>li:first-child, #xsmenu .navbar-nav>li:last-child {
    margin: 0 0 3px 0;
	padding-left: 2em
}

#xsmenu .navbar-brand {
    color: white;
}
#xsmenu .navbar-toggle, #xsmenu  .navbar-toggle:focus, #xsmenu .navbar-toggle:hover
{
	border: 1px solid white;
	background: transparent;
}

/*-----*-----------------*-----**-----*-----------------*-----*					Sidebar					*-----*-----------------*-----**-----*-----------------*-----*/

#sidebarBottom, #sidebar
{
	background-color: #e0dfe0;
	background-image: url('../img/sidebar.png');
	min-width: 195px;
}

#sidebar
{
	color: #999999;
	font-weight: bold;
	height: 0;
	box-shadow: 1px 2px 5px #999;
}

#sidebarBottom
{
	box-shadow: 1px 0 5px #999;
	height: 370px;
}

#logo
{
	width: 230px;
	height: 120px;
	display: block;
	background-image: url('../img/logo.png');
	background-repeat: no-repeat;
	background-size: 240px;
	position: fixed;
	margin-left: -58px;
	margin-top: 50px;
	z-index: 100;
}

#discover
{
	padding: 250px 0;
	text-transform: uppercase;
	font-size: 1.5em;
	position: fixed;
	width: 170px;
}

/*-----*-----------------*-----**-----*-----------------*-----*					Footer content					*-----*-----------------*-----**-----*-----------------*-----*/

#footer a
{
	margin: 0 1em;
}

#footer a:first-child
{
	margin-left: 0;
}

#footer a:last-child
{
	margin-right: 0;
}

#footer>.container
{
	overflow: auto;
}

#scienceFest
{
	text-align: center;
	width: 170px;
	font-size: 1.15em;
}

#scienceFest img
{
	display: block;
	width: 125px;
	margin: auto;
}


#credits
{
	padding-top: 10px
}

#credits img
{
	min-width: 50px;
	max-width: 80px;
	max-height: 100px;
	margin-right: 6px;
}

#help, #footerLinks
{
	display: inline-block;
}

#help
{
	float: left;
	padding: 20px 0 20px 40px;
}

#footerLinks
{
	float: right;
	padding-top: 75px;
	font-size: 0.75em;
}

#labs
{
	padding: 0 35px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	align-content: space-around;
}

#labs a
{
	margin-top: 10px;
}

#labs img
{
	max-width: 140px;
}



#home2
{
	font-weight: bold;
	padding-top: 1em;
	font-size: 1.6em;
	line-height: 1.4em;
}

#home3, #home5, #home3:hover, #home5:hover, #home3:focus, #home5:focus, #home3:visited, #home5:visited
{
	box-sizing: border-box;
	border: 2px solid #ffab00;
	height: 300px;
	display: block;
	text-decoration: none;
	color: #ffab00;
}

#home3 h2 #home5
{
	font-weight: bold;
	margin-top: 80px;
	padding: 10px;
	font-size: 1.6em;
}

#home3 p #home5
{
	padding: 10px;
	font-weight: bold;
	font-size: 1.1em;
}

#home3 hr, #home5 hr
{
	padding-top: 2px;
	background: #ffab00;
	margin: 10px;
}

#home4, #home6
{
	height: 291px;
	margin: 15px 0;
}

a.nostyle, a.nostyle:hover, a.nostyle:visited
{
	text-decoration: none;
}


/**/
.logo-edit
{
	max-width: 100%;
	max-height: 150px;
	display: inline-block;
	text-align: center;
}

.center
{
	text-align: center;
}

.form-section
{
	padding:1.5em 0;
}

.logoBanner
{
    height: 75px;
	display: flex;
    flex-direction: row;

    justify-content: space-between;

    align-items: center;
}

.logoBanner wrapper
{
	max-height:100%;
}

.logoBanner img
{
    max-width: 150px;
    max-height: 75px;
    width: auto;
    height: auto;
}